In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("TCS.csv",skiprows =1)
df.columns = ["Close","high","Low","open","Volume"]
df.head()

         Close         high          Low         open   Volume
0  1050.998779  1059.854968  1049.120169  1059.854968   366830
1  1064.995361  1069.743446  1053.083923  1053.249033   925740
2  1048.811279  1073.439363  1042.370355  1065.636025  1754242
3  1010.144714  1044.207060  1007.419686  1044.207060  2423784
4   998.212463  1023.583729   993.980475  1019.805945  2636332

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   2466 non-null   float64
 1   high    2466 non-null   float64
 2   Low     2466 non-null   float64
 3   open    2466 non-null   float64
 4   Volume  2466 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 96.5 KB

In [11]:
df.isnull().sum()

Close     0
high      0
Low       0
open      0
Volume    0
dtype: int64

In [13]:
df.fillna(df.mean(), inplace=True)

In [14]:
df.describe()

             Close         high          Low         open        Volume
count  2466.000000  2466.000000  2466.000000  2466.000000  2.466000e+03
mean   2215.227165  2237.241464  2193.677629  2215.936930  2.669150e+06
std    1044.827515  1053.621485  1036.498710  1044.840172  2.390096e+06
min     897.141724   913.730062   876.113422   903.866907  8.682200e+04
25%    1098.076477  1108.696974  1083.784990  1096.305008  1.639958e+06
50%    1924.338318  1947.453722  1899.869680  1925.555062  2.212441e+06
75%    3153.616516  3181.365013  3128.873014  3157.513391  3.090992e+06
max    4471.390137  4509.193819  4430.394634  4493.237112  8.806715e+07

In [17]:
df.duplicated().sum()

0

In [18]:
df.dtypes

Close     float64
high      float64
Low       float64
open      float64
Volume      int64
dtype: object

In [ ]:
duplicate_count =