In [2]:
import pandas as pd

In [3]:
pe = pd.read_csv("penalty_dataset - penalty_dataset.csv")
pe.head()

,gender,season_name,competition_id,competition,stage,match_date,match_id,event_id,home_team_id,home_team,...,away_team,home_score,away_score,player_id,player,team_id,half,time,event_type,shootout_order
0,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-11,631,5031,785,Netherlands,...,Czech Republic,0,0,512,Frank de Boer,785,2,89,Penalty Goal,NaN
1,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-11,9201,12919,713,Turkey,...,Italy,1,1,3933,Filippo Inzaghi,951,2,70,Penalty Goal,NaN
2,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-16,5562,1162,272,Czech Republic,...,France,0,1,3516,Karel Poborsky,272,1,35,Penalty Goal,NaN
3,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-20,9772,8763,169,England,...,Romania,0,1,62,Alan Shearer,169,1,41,Penalty Goal,NaN
4,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-20,9772,10668,169,England,...,Romania,2,2,3614,NaN,340,2,89,Penalty Goal,NaN

In [4]:
pe["total-score"] = pe["home_score"]+pe["away_score"]
pe.head()

,gender,season_name,competition_id,competition,stage,match_date,match_id,event_id,home_team_id,home_team,...,home_score,away_score,player_id,player,team_id,half,time,event_type,shootout_order,total-score
0,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-11,631,5031,785,Netherlands,...,0,0,512,Frank de Boer,785,2,89,Penalty Goal,NaN,0
1,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-11,9201,12919,713,Turkey,...,1,1,3933,Filippo Inzaghi,951,2,70,Penalty Goal,NaN,2
2,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-16,5562,1162,272,Czech Republic,...,0,1,3516,Karel Poborsky,272,1,35,Penalty Goal,NaN,1
3,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-20,9772,8763,169,England,...,0,1,62,Alan Shearer,169,1,41,Penalty Goal,NaN,1
4,men,2000 Netherlands/Belgium,18,European Championship,Group Stage,2000-06-20,9772,10668,169,England,...,2,2,3614,NaN,340,2,89,Penalty Goal,NaN,4

In [5]:
pe_sort = pe.sort_values(by = "total-score", ascending =False)
pe_sort.head()

,gender,season_name,competition_id,competition,stage,match_date,match_id,event_id,home_team_id,home_team,...,home_score,away_score,player_id,player,team_id,half,time,event_type,shootout_order,total-score
4567,women,2012/2013,1,UEFA Women's Champions League,Qualifying Round,2012-08-13,4840,8909,396,Apollon Limassol,...,20,0,789,Victoria Zampa,396,2,92,Penalty Goal,NaN,20
6062,women,2014/2015,1,UEFA Women's Champions League,Qualifying Round,2014-08-11,304,1120,127,Spartak Subotica,...,14,0,2657,Violeta Slović,127,2,67,Penalty Goal,NaN,14
12098,men,2020/2021,4,UEFA Europa League,2nd Qualifying Round,2020-09-17,10269,7871,837,Bačka Topola,...,6,6,2920,Mihajlo Banjac,837,5,125,Penalty Shootout Miss,5.0,12
12100,men,2020/2021,4,UEFA Europa League,2nd Qualifying Round,2020-09-17,10269,4470,837,Bačka Topola,...,6,6,372,Goran Antonić,837,5,127,Penalty Shootout Goal,7.0,12
12097,men,2020/2021,4,UEFA Europa League,2nd Qualifying Round,2020-09-17,10269,12924,837,Bačka Topola,...,6,6,2261,Ovidiu Perianu,612,5,124,Penalty Shootout Goal,4.0,12

In [8]:
pe2=pe_sort[pe_sort["event_type"] != "Penalty Shootout Goal"]

In [11]:
fifth =pe2.iloc[4]
fifth

gender                                    women
season_name                           2014/2015
competition_id                                1
competition       UEFA Women's Champions League
stage                          Qualifying Round
match_date                           2014-08-14
match_id                                   6246
event_id                                   9565
home_team_id                                600
home_team                               Kochani
away_team_id                                981
away_team                           Medyk Konin
home_score                                    1
away_score                                   10
player_id                                  4344
player                         Paulina Zawiślak
team_id                                     981
half                                          2
time                                         86
event_type                         Penalty Goal
shootout_order                              NaN
total-score                                  11
Name: 6068, dtype: object

In [7]:
pe_sort2 =pe.sort_values(by="time")
pe_sort2["event_type"].unique()

array(['Penalty Goal', 'Penalty Miss', 'Penalty Shootout Goal',
       'Penalty Shootout Miss'], dtype=object)

In [10]:
pe_sort2["time"].iloc[-1]

142

In [59]:
pe_sort2["time"]

9344       1
173        1
9983       1
4684       2
12975      2
        ...
12244    138
10883    139
10884    140
10885    141
10886    142
Name: time, Length: 15093, dtype: int64

In [71]:
import numpy as np

array = np.zeros(15) 
c = 0  

for i in range(15):
    start = i * 10 + 1    
    end = (i + 1) * 10
    total_time = 0

    while c < len(pe_sort2) and start <= pe_sort2["time"].iloc[c] <= end:
        total_time += pe_sort2["time"].iloc[c]
        c += 1

    array[i] = total_time

In [72]:
array

array([  4910.,  17670.,  33992.,  51702.,  73616.,  89087., 108751.,
       121097., 149148.,  81619.,   2896.,   2593., 147265.,  13489.,
          283.])

In [75]:
array.argmax(),array[array.argmax()]

(8, 149148.0)

In [ ]:
#8th index, so 8+1 90 to 100